{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
     ["@semantic-release/npm", {
      "pkgRoot": "dist/ngx-taskboard",
    }],
    ["@semantic-release/git", {
      "assets": ["package.json", "CHANGELOG.md"],
      "message": "chore(release): 📢 ${nextRelease.version}\n\n${nextRelease.notes}"
    }],
    "@semantic-release/github"
  ],

}