<!--The content below is only a placeholder and can be replaced.-->
<div class="d-flex h-100 w-100 p-0 flex-column align-items-center justify-content-center">
  <div class="w-75 mb-3 text-center h2" *ngIf="showcaseMode">
    Kanban-Board
  </div>
  <div class="d-flex flex-row shadow border" [class.h-75]="showcaseMode" [class.w-75]="showcaseMode"
    [class.h-100]="!showcaseMode" [class.w-100]="!showcaseMode" style="overflow: hidden">
    <!-- <span class="initials border-dark d-inline-block img-thumbnail circle">MF</span> -->
    <!-- <app-board class="w-100"></app-board> -->
    <ngx-taskboard class="w-100 h-100" [items]="items" [hGroupKey]="hGroupKey" [vGroupKey]="vGroupKey"
      [vGroupKeys]="vGroupKeys" [hGroupKeys]="hGroupKeys" [showUngroupedInBacklog]="true" [itemTemplate]="itemTemplate"
      [vCollapsed]="true">
    </ngx-taskboard>
  </div>

  <ng-template #itemTemplate let-item="item">
    <div class="card mb-1 border-bottom-0 border-top-0" style="border-left: 5px solid; border-radius: 0;"
      [style.border-left-color]="item?.color">
      <div class="card-header border-top d-flex flex-row justify-content-between">
        <div class="">
          <span class="font-weight-bold">#{{item.id}}</span>
          <span class="ml-3">{{ item.subject }}</span>
        </div>
      </div>
    </div>
  </ng-template>
</div>
